@charset "utf-8";
/* google Font */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:wght@400;500;600;700&display=swap');

/*Reset css*/
*{margin:0; padding:0; box-sizing:border-box;}
ul, li{list-style:none;}
a{text-decoration:none; color: inherit;}
img{display:block;}
button, input, textarea{outline:0; font-family:'Noto Sans KR';-webkit-appearance: none;}
.clear:after{content:""; display:block; clear:both;}
.ConTitle{padding-bottom: 30px}
.ConTitle h2{padding: 20px 0; font-size: 3.8rem;line-height: 0.8; color: rgba(0,0,0,0.6);}
/* .subtit{font-family: 'Architects Daughter', cursive; color: #bdc9a6; font-size: 3.3rem; display: block; line-height: 0.2;} */

/*폰트*/
body{font-family: 'Noto Sans KR', sans-serif; color:#4a473c;} 
header, h1, h2{font-family: 'Lexend Peta', sans-serif;}


/* -------------------Header영역----------------------- */
#Header{width: 100%; height: 90px; margin: 0 auto; position: fixed; top: 0; z-index: 999; }
#Header header{position: relative; width: 100%; height: 100%; padding: 0 5%; display: flex; align-items: center; justify-content: space-between;  transition: all 0.4s; color: #000;}
#Header header.isFixed{background: #111; color: #fff; height: 70px; }

#Header header h1{position: relative; font-size: 1.6rem; width: 10%; z-index: 20; }
#Header header.isFixed header h1{color: #fff;}

/* #Header header h1:hover a{color: #fff;} */

#Header header>nav{position: relative;  height: 100%; _margin: 0 auto; display: flex; z-index: 20;}
#Header header>nav>ul{position:relative; display: flex; align-items: center; _justify-content: space-between;}
#Header header>nav>ul>li{margin: 30px; font-size: 1.0rem;}
#Header header>nav>ul>li:hover a{color: #444;}

#Header header .menu{width: 10%; height: auto; display:none;}
#Header header .menu .menu_icon{text-align: center; font-size: 1.5rem;position: relative; z-index: 30;}
#Header header .menu .menu_overlay{position: fixed; width: 100vw; height: 100vh; background: rgba(0,0,0,0.5); right: 0; display: none; opacity: 0; z-index: 10; top: 0;}
.menu_overlay .nav_menu{right: 0; position: absolute; width: 40%; height: 100vh; background-color: #fff;}
.menu_overlay .nav_menu ul{position: absolute; font-size: 2.8rem; top: 20%; }
.menu_overlay .nav_menu ul li{padding: 20px; transition: all 0.3s;}
.menu_overlay .nav_menu ul li a{transition: all 0.3s;}
.menu_overlay .nav_menu ul li:hover a{color: #bdc9a6;}
#Header header .menu .menu_overlay.active{opacity: 1; z-index: 20;}

.nav_menu p{position: absolute; bottom: 15%;}


/* ------------Main Content-------------- */
#main_content{position: relative; width: 100%; height: 100vh; background-color: #eee;}
#main_content .mainTxt{position: absolute; top: 35%; left: 50%; transform: translate(-50%); font-size: 3.5rem; font-family: 'Lexend Peta', sans-serif;;}

.typing-txt{display: none;}
ul{list-style:none;}
.typing ul li{display:block;}
.typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}

#main_content .scroll{position: absolute; display: block; width: 70px; height: 60px; top: 80%; left: 50%; transform: translateX(-50%);z-index: 999;}
#main_content .scroll img{width: 100%; height: 100%;}

#contents{width: 100%; height: auto; _position: relative;}
/* ------------about Content-------------- */
#about{width: 100%; _height: 100vh; padding: 50px 0; _background-color: #ddd;}
#about .ConTitle h2{text-align: left;}
#about .ConTitle .subtit{display: block; line-height: 0.2; padding-left: 40px;}

.aboutBox{width: 100%; height: 400px; display: flex; max-width: 1200px; margin: 0 auto;}
.aboutBox .aboutImg{width: 50%; height: 100%;}
.aboutBox .aboutTxt{width: 50%; height: 100%; _background-color: #ddd;}
.aboutBox .aboutTxt .about_info{display: flex;}
.aboutBox .about_info .infoTit{width: 30%;}

.profile{width: 100%; height: 60vh; background-color: #fff;}

.skills{width:100%;height: 400px; position: relative; background-image: url(../img/bg3.jpeg); background-size: cover; overflow: hidden; background-attachment: fixed; padding: 100px 0;}
.skills .bg_overlay{position: absolute; height: 100%; width: 100%; opacity: 0.75; top: 0; left: 0; background-color: #1c1c1c;}

.skillBox{position: relative; max-width:980px; width:100%; height: 200px; margin: 0 auto; }
.skillBox .row{display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center; text-align: center; height: 100%;}
.skillBox .itembox{width: 15%; display: flex; align-items: center; box-sizing: border-box;} 
.skillBox .itembox .item{width: 100%; height: 100%; padding: 20px;}
.skillBox .item i.fab{width: 100%; font-size: 3.9rem; color: #939393;}
.skillBox .item p{color: #b7b7b7; font-size: 16px; line-height: 35px; }

.skillBox .itembox .item:hover{_border: 1px solid #fff; background-color: #bdc9a6;}
.skillBox .itembox .item:hover p,
.skillBox .itembox .item:hover i.fab{color: #fff;}

/* ------------skills Content--------------
#skills{width: 100%; height: 100vh; padding: 100px 5%; margin: 0 auto;}
#skills .ConTitle{position: relative; _padding: 30px;}
#skills .ConTitle h2{position: relative; text-align: center;}
#skills .ConTitle .subtit{ padding-left: 60px;}

.conBox{width: 1200px; height: 100%; margin: auto; padding: 50px 0; position: relative;}
.conBox>div{ width: 50%; display: flex; justify-content: center; float: left; padding: 40px 0;}

.skillImg{width: 15%; display: flex; justify-content: center; align-items: center; font-size: 38px;}
.skillImg i.fab{display: inline-block;}

.skillBox{width: 70%;}
.skillBox p{font-size: 12px;}

.ProgressBox{margin-top: 15px; padding: 2px 0; border: 1px solid #ccc; border-radius: 10px; background: #eee;}
.ProgressBox .ProgressBar{animation: load 2s normal forwards; display: block; width: 0; height: 15px; background: #bdc9a6; border-radius: 5px 10px 10px 5px;}

@keyframes load{
   0%{
      width: 0;
   }

} */

/* ------------works Content-------------- */
#works{width: 100%; height: 100vh; padding: 100px 5%;}
#works .ConTitle{text-align: center;}

.slide_container{position: relative; _width: 1200px; height: 70vh; margin: auto;}
.slider{height: 100%; width: 100%; position: relative;}
.slideBox{width: 100%; height: 100%; position: absolute; } 
.slideBox .slideImg{width: 100%; height: 100%; position: absolute; _top: 5%; padding: 0 8%;}
.slideBox .slideImg img{width: 80%; _height: 80%; }
.slideBox .slideTxt{width: 100%; height: auto; position: absolute; top: 20%; left: 72%;}
.slideBox .slideTxt h3{padding-bottom: 10px; font-family: 'Acme', sans-serif; letter-spacing: 2px; font-size: 2.3rem;}
.slideBox .slideTxt p{font-size: 0.9rem;}
.slideBox .slideTxt .Txtlink{position: absolute; width: 13%; }
.slideBox .slideTxt .Txtlink a{display: block; border: 2px solid #bdc9a6; border-radius: 30px; padding: 10px; margin-top: 10px; text-align: center;}
.slideBox .slideTxt .Txtlink a:hover{color: #fff; background-color: #bdc9a6;}