@charset "utf-8";
/* google Font */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700&display=swap');

/*Reset css*/
*{margin:0; padding:0; box-sizing:border-box;}
ul, li{list-style:none;}
a{text-decoration:none; color: inherit;}
img{display:block;}
button, input, textarea{outline:0; font-family:'Noto Sans KR';-webkit-appearance: none;}
.clear:after{content:""; display:block; clear:both;}
.ConTitle{padding-bottom: 30px}
.ConTitle h2{padding: 20px 0; font-size: 3.3rem;line-height: 0.8; color: rgba(0,0,0,0.6);}
/* .subtit{font-family: 'Architects Daughter', cursive; color: #bdc9a6; font-size: 3.3rem; display: block; line-height: 0.2;} */

/*폰트*/
body{font-family: 'Noto Sans KR', sans-serif; color:#4a473c;} 
header, h1, h2{font-family: 'Lexend Peta', sans-serif;}


/* -------------------Header영역----------------------- */
#Header{width: 100%; height: 90px; margin: 0 auto; position: fixed; top: 0; z-index: 999; }
#Header header{position: relative; width: 100%; height: 100%; padding: 0 5%; display: flex; align-items: center; justify-content: space-between;  transition: all 0.4s; color: #000; background-color: #e0e0e0;}
#Header header.isFixed{background: #111; color: #fff; height: 70px; }

#Header header h1{position: relative; font-size: 1.6rem; width: 10%; z-index: 20; }
#Header header.isFixed header h1{color: #fff;}

/* #Header header h1:hover a{color: #fff;} */

#Header header>nav{position: relative;  height: 100%; _margin: 0 auto; display: flex; z-index: 20;}
#Header header>nav>ul{position:relative; display: flex; align-items: center; _justify-content: space-between;}
#Header header>nav>ul>li{margin: 30px; font-size: 1.0rem;}
#Header header>nav>ul>li.on{color: #ff214f; font-weight: bold;}
/* #Header header>nav>ul>li:hover a{color: #444;} */

/* 반응형 메뉴 */
#Header header .menu{width: 10%; height: auto; display:none;}
#Header header .menu .menu_icon{text-align: center; font-size: 1.5rem; position: relative; z-index: 30;}
#Header header .menu .menu_overlay{position: fixed; width: 100vw; height: 100vh; background: rgba(0,0,0,0.5); right: 0; display: none; _opacity: 0; _z-index: 10; top: 0;overflow: hidden;}
.menu_overlay .nav_menu{_right: 0; position: absolute; width: 100%; height: 100vh; background-color: #fff;}
.menu_overlay .nav_menu ul{position: absolute; font-size: 2.8rem; top: 20%; width: 100%;}
.menu_overlay .nav_menu ul li{padding: 20px; transition: all 0.3s; text-align: center;}
.menu_overlay .nav_menu ul li a{transition: all 0.3s;}
.menu_overlay .nav_menu ul li:hover a{color: #ff214f;}
#Header header .menu .menu_overlay.active{_opacity: 1; _z-index: 20; display: block;}
.noScroll{position: fixed;}

#contents{width: 100%; height: auto; _position: relative;}

/* ------------Main section-------------- */
#main_content{position: relative; width: 100%; height: 100vh; background-color: #e0e0e0;}
#main_content .mainTxt{position: absolute; top: 35%; left: 50%; transform: translate(-50%); font-size: 4.5rem; font-family: 'Blinker', sans-serif;;}

.typing-txt{display: none;}
ul{list-style:none;}
.typing ul li{display:block;}
.typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}

#main_content .scroll{position: absolute; display: block; width: 70px; height: 60px; top: 80%; left: 50%; transform: translateX(-50%);z-index: 20;}
#main_content .scroll img{width: 100%; height: 100%;}


/* ------------about section-------------- */
#about{width: 100%; _height: 100vh; padding: 50px 0 0 0;}
#about .ConTitle h2{text-align: left;}
#about .ConTitle .subtit{display: block; line-height: 0.2; padding-left: 40px;}

.aboutBox{width: 100%; height: 70vh; display: flex; max-width: 1200px; margin: 0 auto;}
.aboutBox .aboutImg{width: 50%; height: 100%; display: block; position: relative;}
.aboutBox .aboutImg .subImg{position: absolute; width: 75%; height: 75%; border: 2px solid #1c1c1c;}
.aboutBox .aboutImg .mainImg{position: relative; display: inline-block; width: 75%; height: 75%; top: 5%; left: 5%;}
.aboutBox .aboutImg .mainImg img{width: 100%; height: 100%;}
.aboutBox .aboutTxt{width: 50%; height: 100%; _background-color: #ddd;}
.aboutBox .aboutTxt i.fas{font-size: 2.5rem; color: #ff214f;}
.aboutBox .aboutTxt h3{font-size: 2.7rem; padding: 10px 0; font-family: 'Blinker', sans-serif; font-weight: 600;}

.aboutBox .aboutTxt .about_info{display: flex; border-bottom: 1px solid #1c1c1c; padding: 30px 0;}
.aboutBox .about_info .infoTit{width: 25%; color: #ff214f; font-family: 'Blinker', sans-serif; font-weight: bold; font-size: 1.2rem;}
.aboutBox .about_info .infoCon{width: 75%;  line-height: 1.8;}
.aboutBox .about_info .infoCon ul>li{font-size: 0.9rem; padding-bottom: 10px;}
.aboutBox .about_info .infoCon .send{font-weight: bold;}
.aboutBox .about_info .infoCon .send:hover a{border-bottom: 1px solid #ff214f;}
.aboutBox .about_info .infoCon .date{margin-bottom: 5px;font-weight: 600; display: block;}


.profile{width: 100%; height: 70vh; background-color: #fff;}

.skills{width:100%;height: 380px; position: relative; background-image: url(../img/bg3.jpeg); background-size: cover; overflow: hidden; background-attachment: fixed; padding: 88px 0;}
.skills .bg_overlay{position: absolute; height: 100%; width: 100%; opacity: 0.75; top: 0; left: 0; background-color: #1c1c1c;}

.skills .skillTit{display: flex; justify-content: center; align-items: center; color: #fff; font-size: 1.8rem;}

.skillBox{position: relative; max-width:980px; width:100%; height: 200px; margin: 0 auto; }
.skillBox .row{display: flex; _flex-wrap: wrap; justify-content: space-evenly; align-items: center; text-align: center; height: 100%; }
.skillBox .flipcard{width: 120px; height: 120px; perspective: 1000px;}

.skillBox .itembox{width: 120px; height: 120px; display: flex; align-items: center; box-sizing: border-box; transition: all .6s; transform-style: preserve-3d; _transform: rotateY(0deg);}
.skillBox .itembox .item, .item-back{width: 100%; height: 100%; padding: 20px; border: 1px solid #939393; border-radius: 50%; position: absolute;   -webkit-backface-visibility: hidden;
  backface-visibility: hidden;}

.skillBox .itembox .item-back{width: 120px; height: 120px; color: #b7b7b7; display: flex; align-items: center; text-align: center; font-size: 2.2rem; transform: rotateY(180deg);}
.skillBox .itembox .item-back span{display: inline-block; width:100%;}


.skillBox .item i.fab{font-size: 2.9rem; color: #939393; transition: all .5s;}
.skillBox .item p{color: #b7b7b7; font-size: 14px; line-height: 25px; transition: all .5s;}
.skillBox .item .hide{display: none;}

.skillBox .flipcard:hover .itembox{transform: rotateY(180deg);}





/* ------------works section-------------- */
#works{width: 100%; height: 100%; padding: 100px 5%;}
#works .ConTitle{text-align: center;}

.slide_container{_position: relative; width: 1200px; height: 80vh; margin: auto;}
.slider{height: 100%; width: 100%; position: relative;}
.slideBox{width: 100%; height: 100%; position: relative;} 
.slideBox .slideImg{width: 100%; _height: 100%; position: absolute; top: 8%; padding: 0 8%;}
.slideBox .slideImg img{width: 80%; height: 80%; display: inline-block;}
.slideBox .slideTxt{width: 30%; _height: auto; position: absolute; top: 27%; left: 72%;}
.slideBox .slideTxt h3{padding-bottom: 10px; font-family: 'Blinker', sans-serif; letter-spacing: 2px; font-size: 2.3rem;}
.slideBox .slideTxt p{font-size: 0.9rem;}
.slideBox .slideTxt .Txtlink{_position: absolute; width: 200px; }
.slideBox .slideTxt .Txtlink a{display: block; border: 2px solid #1c1c1c; border-radius: 30px; padding: 10px; margin-top: 20px; text-align: center; transition: all .5s; }
.slideBox .slideTxt .Txtlink a:hover{color: #fff; background-color: #1c1c1c;}

.lSPrev i{font-size: 3.2rem;}




/* ------------contact section-------------- */
#contact{width: 100%; height: 50vh; padding: 80px 5%; background-color: #efefef; padding-bottom: 0;}
/* #contact .ConTitle h2{color: #1c1c1c;} */
#contact .contactBox{width: 100%; color: rgba(0,0,0,0.6); text-align: center; padding: 50px;}
#contact .contactBox h2{font-family:  'Blinker', sans-serif; font-weight: 600; }
#contact .contactBox h2 span{display: block; font-size: 3.5rem;}
#contact .contactBox h2 p{font-family: 'Noto Sans KR'; font-size: 0.8rem; font-weight: 300;}

#contact .contact_link{display: flex; justify-content: center; align-items: center;}
#contact .contact_link ul{display: flex; font-size: 4.8rem;}
#contact .contact_link ul li{padding: 0 20px; transition: all .4s;}
#contact .contact_link ul li:hover a{color: #ff214f; transition: all .4s;}


footer .copyright{width: 100%; background-color: #1c1c1c; text-align: center; font-size: 0.8rem;}